@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: hsl(217, 19%, 24%);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  font-family: 'Manrope', sans-serif;
  width: 100%;
  height: 100%;
}

.card {
  width: 30rem;
  height: auto;
  text-align: center;
  background-color: hsl(217, 19%, 38%);
  color: hsl(193, 38%, 86%);
  border-radius: 10px;
}

.id {
  color: hsl(150, 100%, 66%);
  margin-top: 20px;
}

.advice {
  font-size: 28px;
  margin: 20px;
}
